@page
@model MeDotNet.Pages.Account.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <form method="post">
        <div asp-validation-summary="ModelOnly" style="color:red"></div>

        <div>
            <label asp-for="Input.Email">Email</label>
            <input asp-for="Input.Email" type="email" />
            <span asp-validation-for="Input.Email" style="color:red"></span>
        </div>
        <div>
            <label asp-for="Input.Password">Password</label>
            <input asp-for="Input.Password" type="password" />
            <span asp-validation-for="Input.Password" style="color:red"></span>
        </div>

        <button type="submit">Sign In</button>
        <a href="/account/register">Register</a>
    </form>
</body>
</html>
